.container-fluid {
  background-color: rgba(235, 234, 231, 0.979);
}
.navbar {
  position: fixed;
  float: top;
  background-color: hsl(287, 100%, 21%);
  color: white;
  padding: 20px;
};

#main {
  background-color: white;
}